<h2> Ejecución local del Proyecto Usando Angular Cli </h2>
<br>
<ol>
    <li>
        Instale NodeJS y NPM Desde la URL= https://nodejs.org/en/download/.
    </li>
    <li>
        Descomprima el proyecto en cualquier lugar de su PC.
    </li>
    <li>
        Instale todos los paquetes npm requeridos, ejecutando el comando npm install 
        desde la consola de comandos de su PC. Recuerde que la consola debe estar bien ubicada
        (Carpeta donde esta el archivo package.json).
    </li>
    <li>
        Ejecute la aplicacion desde la consola con el comando= ng serve --open.
        Esto desde la Raiz del Proyecto (Carpeta donde esta el archivo package.json).
    </li>
    <li>
        Su Navegador se abrira en la direccion http://localhost:4200 Con la ejecucion del Proyecto.
    </li>
</ol>

<br>
<br>
<h2> Componentes Generados con PrimeNG para Angular</h2>
<br>
<p>
        
PrimeNG es una colección de componentes de interfaz de usuario ricos para Angular. 
Todos los widgets son de código abierto y de uso gratuito bajo la licencia MIT. PrimeNG es desarrollado por PrimeTek Informatics,
un proveedor con años de experiencia en el desarrollo de soluciones de UI de código abierto.
</p>

<br>
<br>
<h2> Login y Logout Utilizando FakeBackend </h2>
<br>
<p>
    El proyecto utiliza el local storage de HTML5, pero bien podria ser implementado con cualquier
    API generada. Ya sea desarrollada en .NET o implementada en el mismo NodeJS
</p>

<br>
<br>
<h2> Backend Real Implementado con FireBase de Google (Tendencia en desarollo web)</h2>
<br>
<p>
        Con el respaldo de Google y la confianza de apps reconocidas
        Firebase utiliza la infraestructura de Google y se escala automáticamente con tu aplicación, 
        por lo que no tienes que preocuparte de satisfacer la demanda de los usuarios.
</p>


<br>
<br>
<h2> Consumo de WebService https://restcountries.eu/v2</h2>
<br>
<p>
        Para Obtener Listado Mundial de todos loa paises y muchas excelentes caracteristicas
        e importacion relevante (El proyecto solo hace uso del nombre de Pais).
</p>

<br>
<br>
<h2> -- Muy Importante!! -- </h2>
<br>
<p>
    Para hacer uso correcto del WebService de Paises, se debe tener habilitado en nuestro
    servidor, el CORS (Cross-Origin Resource Sharing)(Descargar plugin de Google). 
    De lo contrario el webservice no mostrará los paises
    
</p>


