<div class="card text-center col-10 container-fluid">
    <div class="card-header">
        <h2><strong>Generar Nuevo Credito</strong></h2>
        <small>Formulario Para agregar nuevo Prestamo</small>
    </div>
    <div class="card-body">
      <div class="container-fluid">
        <div class="row">
            <div class="col-8 offset-2">
                <alert></alert>
                
                  <form (ngSubmit)="agregar()" name="myform" >

                    <h4>Cedula</h4>
                    <!-- <input type="text" name="Cedula" id="Cedula" class="form-control"
                    > -->
                    <select 
                        placeholder="Imagen Producto"
                        id="Cedula" 
                        name="Cedula">
                        <option value="{{user.cedula}}" *ngFor="let user of users; let i = index">{{user.firstName}} {{user.lastName}}</option>
                    </select>
                    <br>
                    <br>
                    <h4>#-Factura</h4>
                    <input type="text" name="factura" id="factura" class="form-control"
                    >
                    <br>
                    <br>
                    <h4>Cantidad de Prestamo</h4>
                    <input type="text" name="Prestamo" id="Prestamo" class="form-control">
                    <br>
                    <br>
                    <h4>Tipo de prestamo</h4>
                    <label for="">Vehiculo</label>
                    <input type="radio" name="optradio" id="Vehiculo" value="0.04"/>
                    <label for="">Vivienda</label>
                    <input type="radio" name="optradio" id="Vivienda" value="0.02"/>
                    <br>
                    <br>
                    <h4>Cuotas</h4>
                    <select id="cuotas" name="cuotas">
                        <option value="3">3</option>
                        <option value="6">6</option>
                        <option value="9">9</option>
                        <option value="12">12</option>
                    </select>
                    
                    <!-- <div id="form">
                        <input 
                      type="text" 
                      placeholder="Ingresa tu Cedula"
                      name="cuota1" 
                      id="cuota1" class="form-control"
                      [(ngModel)]="item.cuota1" required/>
                    </div> -->

                    
                     <!--  <label>Cedula</label>
                      <input 
                      type="text" 
                      placeholder="Ingresa tu Cedula"
                      name="Cedula" 
                      id="Cedula" class="form-control"
                      [(ngModel)]="item.Cedula" required/>
  
                      <label>Nombre</label>
                      <input 
                      type="text" 
                      placeholder="Ingresa tu nombre"
                      name="Nombre" 
                      id="Nombre" class="form-control"
                      [(ngModel)]="item.Nombre" required/>
  
                      <label>Telefono</label>
                      <input 
                      type="text" 
                      placeholder="Ingresa tu Telefono"
                      name="Telefono" 
                      id="Telefono" class="form-control"
                      [(ngModel)]="item.Telefono" required/>
  
                      <label>Password</label>
                      <input 
                      type="text" 
                      placeholder="Ingresa tu Password"
                      name="contrasena" 
                      id="contrasena" class="form-control"
                      [(ngModel)]="item.contrasena" required/>
  
                     -->
                      
                     
                  </form> 
                    
                    <br>
                    <br>
                    <h4>Total a Pagar: </h4>
                  <input type="text" name="subtotal" id="sub-total" class="form-control" value=0>
                  <br>
                  <button class="btn btn-warning mt-3" type="button" (click)="validateForm()" >Calcular</button>
                  
                  <br>
                  <br>
                  <h4>Factura(Cuotas por Pagar):</h4>
                <div id="pagos">
                    <table class="table">
                    <thead>
                    <th>#</th>
                    <th>concepto</th>
                    <th>monto</th>
                    <th>monto restante</th>
                    <th>fecha pago</th>
                    </thead>
                    <tbody></tbody>
                    </table>
                </div>
                
                 <button class="btn btn-success mt-3" type="submit" (click)="agregar()">Generar Credito</button>
                   
                  <!-- Javascript -->
                  <script src="../../../assets/js/jquery-1.8.2.min.js"></script>
                  <script src="../../../assets/js/supersized.3.2.7.min.js"></script>
                  <script src="../../../assets/js/supersized-init.js"></script>
                  <script src="../../../assets/js/scripts.js"></script>
            </div>
          </div>
      </div>
    </div>
    <div class="card-footer text-muted">
      ** Debe llenar todos los datos
    </div>
  </div>

  <div class="alert alert-primary" role="alert">
    A simple primary alert—check it out!
  </div>
  
